@import url(https://fonts.google.com/specimen/Ubuntu);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(206, 94%, 87%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 900px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 1px black;
  display: flex;
  padding: 1rem;
}

img {
  max-width: 100%;
}

.container1 {
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  width: 1000px;
  height: 568px;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
}

.flexone,
.flextwo,
.flexthree,
.flexfour {
  display: flex;
  padding: 0;
  margin: -1rem;
  flex-direction: row;

  gap: 1rem;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}

.active .circle {
  background-color: hsl(206, 94%, 87%) !important;
  color: hsl(213, 96%, 18%) !important;
}

.err {
  border: 2px solid hsl(354, 84%, 57%);
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.step-content span {
  text-transform: uppercase;
  color: hsl(229, 24%, 87%);
  font-size: 13px;
}

.bold {
  text-transform: uppercase;
  color: white;
}

.container2 {
  background-color: ;
  width: 130rem;
  display: ;
}

.heading {
  color: hsl(213, 96%, 18%);
  font-size: 35px;
}

.step {
  color: hsl(231, 11%, 63%);
  margin-top: 0.5rem;
  width: 100%;
}

header {
  background-color: ;
  margin-top: 2rem;

  margin-bottom: 1rem;
}
.forms input {
  width: 75%;
  padding: 1rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 7px;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms .error {
  display: none;
}

.forms input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  font-family: inherit;
}

.forms input:focus {
  outline-color: hsl(243, 100%, 62%);
}
label {
  margin-bottom: 0.2rem;
}

.nextstep {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: hsl(213, 96%, 18%);

  margin-top: 9rem;
  margin-left: 22rem;
}

.nextstep:hover {
  background-color: hsl(243, 100%, 62%);
}

.container3 {
  width: 130rem;
  display: none;
}

.cont {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 7px;
  width: 150px;
  height: 150px;
  padding: 1rem;
  cursor: pointer;
  align-items: flex-start;
  justify-content: space-between;
}

.box:hover {
  border: 2px solid hsl(213, 96%, 18%);
}
.box:active {
  border: 2px solid hsl(213, 96%, 18%);
  background-color: hsl(229, 24%, 87%);
}

.ba {
  background-color: transparent;
  border: none;
  border-radius: 7px;
}

.dicons b {
  color: hsl(213, 96%, 18%);
}

.dicons p {
  color: hsl(231, 11%, 63%);
}

.monthly,
.yearly {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gobacko {
  margin-top: 12rem;
  border: none;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
}

.nextstepo {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: hsl(213, 96%, 18%);
  cursor: pointer;
  margin-top: 12rem;
}

.nextstepo:hover {
  background-color: hsl(243, 100%, 62%);
}

.container4 {
  width: 130rem;
  display: none;
}

.payservice {
  border: 1px solid hsl(243, 100%, 62%);
  border-radius: 10px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.firstserv {
  font-size: 12px;
}

.special {
  display: flex;
  gap: 7rem;
  background-color: ;
  width: 20rem;
  height: 2.5rem;
}

.servall {
  display: flex;
  flex-direction: column;
}

.gobacke {
  border: none;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
  margin-top: 10rem;
}

.nextstepe {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: hsl(213, 96%, 18%);
  cursor: pointer;
  margin-top: 11rem;
}

.monserv {
  color: hsl(243, 100%, 62%);
}

.papa {
  width: 30rem;
  height: 5rem;
  background-color: transparent;
  border: none;
}

.serv {
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}

.payservice:hover {
  background-color: hsl(229, 24%, 87%);
}

.container5 {
  width: 130rem;
  display: none;
}

.selection-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.selection-container {
  background-color: hsl(217, 100%, 97%);
  padding: 1.5rem;
  border-radius: 10px;
}
.selecte {
  border: 2px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}
.selected-plan {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: hsl(213, 96%, 18%);
  font-weight: 700;
}
.selected-addon {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 0.9rem;
}
.selected-addon .servic-price {
  color: hsl(213, 96%, 18%);
}
.total {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(231, 11%, 63%);
}
.total b {
  color: hsl(243, 100%, 62%);
  font-size: 1.2rem;
}

.prev-stp {
  border: none;
  font-weight: 700;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 7px;
  color: hsl(231, 11%, 63%);
  cursor: pointer;
  margin-top: 18rem;
}

.next-stp {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: hsl(213, 96%, 18%);
  cursor: pointer;
  margin-top: 18rem;
}
.next-stp:hover {
  background-color: hsl(243, 100%, 62%);
}
.thankspage {
  width: 130rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  visibility: ;
}

.switcher {
  background-color: hsl(217, 100%, 97%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.ad-selected {
  border: 1px solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

/* .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
} */

.switch {
  background-color: hsl(213, 96%, 18%);
  border-radius: 2rem;
}

.switch input {
  width: 1rem;
  background-color: wheat;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  body {
    position: relative;
    background-color: hsl(206, 94%, 87%);
  }
  .container {
    flex-direction: column;
    width: 100%;
    height: 742px;
    border-radius: 0;
    background-color: ;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px white;
    display: flex;
    padding: 0rem;
    border-color: hsl(206, 94%, 87%);
    background-color: hsl(206, 94%, 87%);
    box-shadow: ;
  }

  .container1 {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    height: 300px;
    background-size: cover;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    gap: 0;
    padding: 0;
    gap: 3rem;
    padding: 3rem;
    border-radius: 0;
    position: fixed;
    /* background-repeat: no-repeat;
    width: 1000px;
    height: 568px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 1rem; */
  }
  .step-content {
    display: none;
  }
  .container2 {
    background-color: black;
    width: 70%;
    display: ;
    height: 450px;
    margin-left: 4rem;
    margin-top: 7rem;
    z-index: 1;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
  }

  .nextstep {
    width: 100px;
    margin-left: 11rem;
  }

  .heading {
    color: hsl(213, 96%, 18%);
    font-size: 35px;
  }

  .step {
    color: hsl(231, 11%, 63%);
    margin-top: 0.5rem;
    width: 100%;
  }

  input {
    width: 85%;
    padding: 1rem;
  }

  .container3 {
    display: ;
    z-index: 1;
    margin-top: 20rem;
    background-color: white;
    width: 80%;
    padding: 1rem;
    height: 490px;
    margin-left: 2.5rem;
    margin-top: 7rem;
    border-radius: 10px;
  }
  .cont {
    flex-direction: column;
  }

  .box {
    flex-direction: row;
    height: 70px;
    width: 280px;
  }

  .s {
    margin-top: -7rem;
  }

  .container4 {
    display: ;
    margin-top: 10rem;
    z-index: 1;
    width: 80%;
    height: 400px;
    margin-left: 3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
  }

  .papa {
    width: 18rem;
  }

  .special {
    display: flex;
    flex-direction: ;

    margin-left: rem;

    background-color: ;
    width: 30rem;
  }

  .payservice {
    background-color: ;
  }

  .f {
    transform: translateX(900%);
  }
  .servall {
    transform: translateX(80%);
  }

  .container5 {
    display: none;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 70%;
    z-index: 1;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
  }

  .thankspage {
    display: ;
    margin-top: 20rem;
    width: 70%;
    background-color: white;
    margin-top: 10rem;
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1;
  }
}
